body {

    font-family: 'Merriweather', serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;
    margin: 0;
}


h1 {
    font-size: 50px;
    margin: 0;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;

}

h3 {
    margin: 0;
}

p {
    font-size: 13px;
}

div {
    margin: 0%;
}

.different-font {

    font-family: 'Merriweather', serif;

}

.orange-color {
    color: orange;
}

.flexible-div {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 80%;
    padding-left: 15%;
    padding-top: 5%;
}

.half-width2 {

    width: 35%;
    padding-left: 8%;


}

.half-width img {
    width: 55%;
}

.half-width2 img {
    width: 70%;
    margin: 0%;

}

.link-button {

    background-image: linear-gradient(red, orange);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin-top: 5%;
}

.space {
    margin-top: 30px;
}

section {

    margin-left: 15px;
    margin-right: 15px;
}

#section-two-heading {
    text-align: center;
    margin-bottom: 40px;

}


.border {

    padding-left: 20px;

    position: relative;

}

.border:after {
    content: " ";
    position: absolute;
    border-left: 4px orangered solid;
    top: 15%;
    left: 0;
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
}

.blue-color {
    color: rgb(3, 3, 59);
}

#section-two-card {

    width: 30%;
    height: 30%;
    padding: 10px 20px;
    background-color: rgb(215, 212, 224);
    border-radius: 20px;
    margin-right: 2%;
}

#section-two-card1 {

    width: 30%;
    height: 30%;
    padding: 10px 20px;
    background-color: pink;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

#section-two-card2 {

    width: 30%;
    height: 30%;
    padding: 10px 20px;
    background-color: rgb(192, 255, 208);
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

#section-two-bottom {

    padding-bottom: 0;
}

img {
    width: 50%;
    padding-top: 10%;

}

.section-two-padding {
    margin-left: 10%;
    margin-right: 5%;
}

.left-text {
    text-align: left;
    padding-top: 5%;
    padding-left: 25px;

}

.left-text2 {
    text-align: left;
    padding-top: 5%;
    margin-left: 60px;

}

.background-shape {

    background-image: url(images/shape-1.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-right: 40px;
    margin-bottom: 20px;
}

footer div {

    background-color: black;
    text-align: center;
    color: white;
    margin: 0;
    padding: 30px 20px;
}

#red {
    color: red;
}

#red h3 {
    font-size: 70px;
}