body {

    font-family: 'Merriweather', serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;
    margin: 0;
}


h1 {
    font-size: 50px;
    margin: 0;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    font-weight: 900;

}

h3 {
    margin: 0;
}

p {
    font-size: 13px;
}

#different-font {

    font-family: 'Merriweather', serif;

}

.orange-color {
    color: orange;
}

.flexible-div {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-left: 15%;
    padding-top: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {

    background-image: linear-gradient(red, orange);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}

.space {
    margin-top: 30px;
}

#section-two-heading {
    text-align: center;
    margin: 0;
}


.border {

    padding-left: 20px;

    position: relative;

}

.border:after {
    content: " ";
    position: absolute;
    border-left: 4px orangered solid;
    top: 15%;
    left: 0;
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
}

.blue-color {
    color: rgb(3, 3, 59);
}

#section-two-card {

    width: 30%;
    height: 30%;
    padding: 5px 20px;
    background-color: rgb(215, 212, 224);
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

#section-two-card1 {

    width: 30%;
    height: 30%;
    padding: 5px 20px;
    background-color: pink;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

#section-two-card2 {

    width: 30%;
    height: 30%;
    padding: 5px 20px;
    background-color: rgb(192, 255, 208);
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

img {
    width: 50%;
    padding-top: 10%;
}

.section-two-padding {
    margin-left: 20%;
    margin-right: 10%;
}